<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.mapper.PicCheckMapper">
    <update id="acceptPic">
        UPDATE pic_core SET status = 'ABLE' WHERE pid = #{pid}
    </update>
    <update id="forbidPic">
        UPDATE pic_core SET status = 'FORBID' WHERE pid = #{pid}
    </update>


    <select id="getCheckPicList" resultType="duan.entity.PicDetail_VO">
        SELECT * FROM pic_core
        WHERE
          pic_core.status = 'UNABLE'
    </select>
    <select id="getAllPicList" resultType="duan.entity.PicDetail_VO">
        SELECT * FROM pic_core,pic_num,pic_attribute,pic_update,anonymous_user
        WHERE
          pic_core.pid = pic_num.pid
          AND pic_core.pid = pic_attribute.pid
          AND pic_core.pid = pic_update.pid
          AND pic_update.uuid = anonymous_user.uuid
          ORDER BY pic_core.pid DESC
    </select>
</mapper>
