<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.mapper.PicCheckMapper">


    <select id="getCheckPicList" resultType="duan.entity.PicDetail_VO">
        SELECT * FROM pic_core,tag,pic_tag
        WHERE pic_core.pid = pic_tag.pic_id
          AND pic_tag.tag_id = tag.id
          AND pic_core.status = 'UNABLE'
    </select>
</mapper>
