<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duan.mapper.PicCoreMapper">

    <select id="selectRandPic" resultType="duan.entity.PicDetail_VO">
        SELECT * FROM pic_core,pic_num
                 WHERE pic_core.pid = pic_num.pid
                 AND status = 'ABLE'
                 ORDER BY RAND() LIMIT 1
    </select>
    <select id="selectByPid" resultType="duan.entity.PicDetail_VO">
        SELECT * FROM pic_core,pic_num,pic_attribute
                 WHERE pic_core.pid = pic_num.pid
                   AND pic_core.pid = pic_attribute.pid
                   AND pic_num.pid = pic_attribute.pid
                     AND status = 'ABLE'
                 AND pic_core.pid = #{pid}
    </select>
    <select id="selectRandPicByTag" resultType="duan.entity.PicDetail_VO">
        SELECT * FROM pic_core,pic_num,pic_tag,tag
                 WHERE pic_core.pid = pic_num.pid
                 AND status = 'ABLE'
                 AND pic_core.pid = pic_tag.pic_id
                 AND pic_tag.tag_id = tag.id
                 AND tag.tag_name = #{tag}
                 ORDER BY RAND() LIMIT 1
    </select>
    <select id="getAllPicByTag" resultType="duan.entity.PicDetail_VO">
        SELECT * FROM pic_core,pic_num,pic_tag,tag
                 WHERE pic_core.pid = pic_num.pid
                 AND status = 'ABLE'
                 AND pic_core.pid = pic_tag.pic_id
                 AND pic_tag.tag_id = tag.id
                 AND tag.tag_name = #{tag}
    </select>


</mapper>
